.carousel-container {    
  overflow:hidden; 

  #panelWrap {
    section {
        padding: 0 1rem;
        position: relative;
        float: left;
        width: 70vw;
        
        @include media-breakpoint-up(md) {
            padding: 0 2rem;
            width: 55vw;
        }
        @include media-breakpoint-up(lg) {
            width: 40vw;
        }

        h3 {
            padding-top: 1rem;
        }
      }
    }
  }