@font-face {
    font-family: 'Aktiv Grotesk Regular';
    src: url('../fonts/AktivGroteskCorp-Regular.eot');
    src: local('AktivGroteskCorp-Regular'),
        url('../fonts/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGroteskCorp-Regular.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Regular.woff') format('woff'),
        url('../fonts/AktivGroteskCorp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk Medium';
    src: url('../fonts/AktivGroteskCorp-Medium.eot');
    src: local('AktivGroteskCorp-Medium'),
        url('../fonts/AktivGroteskCorp-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGroteskCorp-Medium.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Medium.woff') format('woff'),
        url('../fonts/AktivGroteskCorp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

$font-heading: 'Aktiv Grotesk Regular', Helvetica, sans-serif;
$font-subtitle: 'Aktiv Grotesk Medium', Helvetica, sans-serif;