body {
    color: $black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
}

h2 {
    font-size: 3.3rem;
    @include media-breakpoint-up(md) { 
        font-size: 3.8rem;
        line-height: 3.8rem;
     }
}

h3 {
    font-size: 1.6rem;
    @include media-breakpoint-up(md) { 
        font-size: 2.1rem;
     }
}

a {
    color: purple;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    line-height: 2;

    &:hover {
        text-decoration: none;
        color: purple;
    }
}

.subtitle {
    font-family: $font-subtitle;
    font-size: 0.8rem;
    color: $light-grey;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
}